---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";



---
<Layout>
           
    <Section id="acerca-de" title="Acerca de">
    </Section>
</Layout>
   