---
import Section from "../components/Section.astro";

import Layout from "../layouts/Layout.astro";
---
         
                <Layout>
                    <Section id="modalidades" title="Modalidades" >
                
                    </Section>
        
                </Layout>