---
import Section from "./components/Section.astro"
import Layout from "../layouts/Layout.astro";

---

        <Layout>
            <Section id="noticias" title="Noticias">
                <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div>
                <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div>

                <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div>
                <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div>
                <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div>
                <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div>
                <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div>
                 <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div> <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div> <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div> <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div> <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div> <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div> <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div> <div animate-text-section>
                    <h1 >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae tempora voluptates sint dolor quod commodi minus. Ab inventore cumque commodi, molestiae libero cupiditate rerum, impedit, consequatur quas iste expedita! Nulla!</h1>
                </div>
            </Section>

        </Layout>
         
         