---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";

---

        <Layout>
     
            <Section id="ubicacion" title="Ubicacion">
            </Section>

        </Layout>
    