---
import Header from "../components/Header.astro";
import Menu from "../components/Menu.astro";
import '../styles/globals.css'
---

<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
       
        <title>Astro</title>
    </head>
    <body data-barba="wrapper">
        <Menu/>
        <Header/>
       <div id="smooth-scroll">
        <div id="content" data-barba="container">
            <slot />
           </div>
       </div>
    </body>

    
</html>

<script src="../gsap.ts"></script>
